{{ 'component--collection-filters.css' | asset_url | stylesheet_tag }}

<div class="collection-filters desktop">

    <div class="filter-links">
        <div class="label">Filter by</div>
        <div class="filter-link type" data-type="type">
            <span class="type-link-label">Type</span>
            {% render 'icon--arrow-down' %}

            <div class="type-overlay">
                {% for filter in collection.filters %}
                    {% case filter.param_name %}
                        {% when 'filter.p.product_type' %}
                            <span class="overlay-label">Filter by</span>
                            <ul>
                                {% for val in filter.values %}
                                    <li>
                                        <label class="type-item">
                                            <input class="type-box" type="checkbox" name="" id="" value="{{ val.value }}" />
                                            {{ val.value }}
                                        </label>
                                {% endfor %}
                            </ul>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>

        <div class="filter-link color" data-type="color">
            <span class="color-link-label">Color</span>
            {% render 'icon--arrow-down' %}

            <div class="color-overlay">
                {% for filter in collection.filters %}
                    {% case filter.param_name %}
                        {% when 'filter.v.option.color' %}
                            <span class="overlay-label">Filter by</span>
                            <fieldset class="color-fields">
                                {% for val in filter.values %}
                                    <label class="color-item">
                                        <input class="color-box" type="checkbox" name="" id="" value="{{ val.value }}" />
                                        {{ val.value }}
                                    </label>
                                {% endfor %}
                            </fieldset>

                    {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="sorting-links">
        <div class="label">Sort by</div>
        <div class="sorting-link">
            <span class="sorting-link-label">Default</span>
            {% render 'icon--arrow-down' %}
            <div class="sorting-overlay">

                <span class="overlay-label">Sort by</span>
                
                <ul>
                    <li>
                        <label class="sort-item" value="manual">
                            <input class="sort-box" type="checkbox" value="manual">
                            {{ 'Featured' | escape }}
                        </label>
                    </li>
                    <li>
                        <label class="sort-item" value="best-selling">
                            <input class="sort-box" type="checkbox" value="best-selling">
                            {{ 'Best Selling' | escape }}
                        </label>
                    </li>
                    <li>
                        <label class="sort-item" value="price-ascending">
                            <input class="sort-box" type="checkbox" value="price-ascending">
                            {{ 'Lowest Price' | escape }}
                        </label>
                    </li>
                    <li>
                        <label class="sort-item" value="price-descending">
                            <input class="sort-box" type="checkbox" value="price-descending">
                            {{ 'Highest Price' | escape }}
                        </label>
                    </li>
                    <li>
                        <label class="sort-item" value="created-ascending">
                            <input class="sort-box" type="checkbox" value="created-ascending">
                            {{ 'Date Oldest' | escape }}
                        </label>
                    </li>
                    <li>
                        <label class="sort-item" value="created-descending">
                            <input class="sort-box" type="checkbox" value="created-descending">
                            {{ 'Date Newest' | escape }}
                        </label>
                    </li>
                    <li>
                        <label class="sort-item" value="title-ascending">
                            <input class="sort-box" type="checkbox" value="title-ascending">
                            {{ 'ABC Ascending' | escape }}
                        </label>
                    </li>
                    <li>
                        <label class="sort-item" value="title-descending">
                            <input class="sort-box" type="checkbox" value="title-descending">
                            {{ 'ABC Descending' | escape }}
                        </label>
                    </li>
                </ul>

            </div>

        </div>
        <div class="item-count">
            {{ collection.all_products_count }} items
        </div>
    </div>

</div>

<div class="collection-filters mobile">
    <div class="item-count">
        {{ collection.all_products_count }} items
    </div>

    <details>

        <summary>
            {% render 'icon--filter-bars' %}
            <span class="label">
                Filters
            </span>
        </summary>

        <div class="filter-body">
            <div class="type-block">
                <div class="filter-link type" data-type="type">
                    <span class="label">Type</span>
    
                    {% for filter in collection.filters %}
                        {% case filter.param_name %}
                            {% when 'filter.p.product_type' %}
                                <ul>
                                    {% for val in filter.values %}
                                        <li>
                                            <label class="type-item">
                                                <input class="type-box" type="checkbox" name="" id="" value="{{ val.value }}" />
                                                {{ val.value }}
                                            </label>
                                    {% endfor %}
                                </ul>
                        {% endcase %}
                    {% endfor %}
             
                </div>
            </div>
            <div class="color-block">
                <div class="filter-link color" data-type="color">
                    <span class="label">Color</span>
        
                    {% for filter in collection.filters %}
                        {% case filter.param_name %}
                            {% when 'filter.v.option.color' %}
                                <fieldset class="color-fields">
                                    {% for val in filter.values %}
                                        <label class="color-item">
                                            <input class="color-box" type="checkbox" name="" id="" value="{{ val.value }}" />
                                            {{ val.value }}
                                        </label>
                                    {% endfor %}
                                </fieldset>
    
                        {% endcase %}
                    {% endfor %}
                    
                </div>
            </div>
        </div>

        <div class="sort-body">
            <span class="label">Sort by</span>

            {% if collection.products_count > 1 %}
                <div class="select">
                    <select class="sort-by right">
                        <option value="manual">Featured</option>
                        <option value="price-ascending">Price: Low to High</option>
                        <option value="price-descending">Price: Hight to Low</option>
                        <option value="title-ascending">A-Z</option>
                        <option value="title-descending">Z-A</option>
                        <option value="created-ascending">Oldest to Newest</option>
                        <option value="created-descending">Newest to Oldest</option>
                        <option value="best-selling">Best Selling</option>
                    </select>
                    {% render 'icon--arrow-down' %}
                </div>
            {% endif %}
        </div>

    </details>

</div>



<script>
jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by }}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>