<div class="navbar-overlay">

    <div class="overlay-wrapper">
        
        <div class="overlay-header">
            <div class="close-overlay">
                {% render 'icon--close' %}
            </div>
            <div class="logo">
                <a href="/" title="{{ shop.name }}">{{ settings.navbar_logo | image_url: width: 500 | image_tag }}</a>
            </div>
        </div>
    
        <div class="menu">
            <div class="title">Menu</div>
            <div>
                <ul class="links">
                    {% for link in linklists.main-menu.links %}
                        <li>
                          <a href="{{ link.url }}" title="{{ link.title }}">
                            {{ link.title }}
                          </a>
                        </li>
                    {% endfor %}
                    {% for linkz in linklists.site-menu.links %}
                        <li>
                          <a href="{{ linkz.url }}" title="{{ linkz.title }}">
                            {{ linkz.title }}
                          </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    
        <div class="overlay-footer">
    
            <div>
                <ul class="links">
                    {% for linkt in linklists.footer.links %}
                        <li>
                          <a href="{{ linkt.url }}" title="{{ linkt.title }}">
                            {{ linkt.title }}
                          </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
    
            <div>
                <ul class="social">
                    <li>
                        <a href="" title="Instagram">
                            {% render 'icon--instagram' %}
                        </a>
                    </li>
                    <li>
                        <a href="" title="X">
                            {% render 'icon--twitter' %}
                        </a>
                    </li>
                    <li>
                        <a href="" title="Twitch">
                            {% render 'icon--twitch' %}
                        </a>
                    </li>
                    <li>
                        <a href="" title="Facebook">
                            {% render 'icon--facebook' %}
                        </a>
                    </li>
                    <li>
                        <a href="" title="YouTube">
                            {% render 'icon--youtube' %}
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    
</div>