<li class="product-card">
    <div class="images">
        {% if prod.images > 1 %}
        {% else %}
            <a href="{{ collection.url }}{{ prod.url }}" title="{{ product.title }}">
                <img src="{{ prod.featured_image | image_url }}" alt="{{ prod.featured_image.alt }}" />
            </a>
        {% endif %}
    </div>
    <div class="data">
        <div class="left">
            <div class="title">
                <h3>
                    <a href="{{ collection.url }}{{ prod.url }}" title="{{ prod.title }}">
                        {{ prod.title }}
                    </a>
                </h3>
            </div>
            <div class="category">
                <a href="/collections/all?filter.p.product_type={{ prod.type }}" title="{{ prod.type }}">
                    {{ prod.type }}
                </a>
            </div>
        </div>
        <div class="right">
            {% if prod.price_max > prod.price %}
                {{ prod.price_min | money_without_trailing_zeros }} & up
            {% else %}
                {{ prod.price | money_without_trailing_zeros }}
            {% endif %}
        </div>
    </div>
</li>