{{ 'team-mate--card.css' | asset_url | stylesheet_tag }}

<li class="team-mate-card">
    <div class="image">
        <a href="{{ collection.url }}" title="View Bio">
            <img src="{{ collection.featured_image | image_url: width: 900 }}" alt="{{ collection.featured_image.alt }}" />
        </a>
        <div class="text">
            view bio
        </div>
    </div>

    <div class="name">
        <h3>
            <a href="{{ collection.url }}" title="{{ collection.title }}">
                {{ collection.title }}
            </a>
        </h3>
    </div>

    <div class="excerpt">
        {{ collection.metafields.collection.short_description | metafield_tag | newline_to_br }}
    </div>
    
</li>