{{ 'team-mate--card.css' | asset_url | stylesheet_tag }}

<li class="team-mate-card">
    <div class="content">

        <div class="image" style="background: url('{{ collection.featured_image | image_url: width: 900 }}'); background-size: cover; background-position: top center;"></div>

        <div class="gradient"></div>

        <div class="data">
            <div class="name">
                <h3>
                    <a href="{{ collection.url }}" title="{{ collection.title }}">
                        {{ collection.title }}
                    </a>
                </h3>
            </div>
        
        	{% comment %}
            <div class="excerpt">
                {{ collection.metafields.collection.short_description | metafield_tag | newline_to_br }}
            </div>
            {% endcomment %}
        </div>
    
    </div>

    
</li>