<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
    {{ page_title | append: ' / ' }} {{ 'Nappy Boy Automotive' | escape }}
  </title>

  <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  {{ content_for_header }}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

  {{ 'index.css' | asset_url | stylesheet_tag }}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}  
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  
  <!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
  {{ 'shopify_common.js'  | asset_url | script_tag }}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  <script>jQuery('html').removeClass('no-js').addClass('js');</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js" integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script>
    AOS.init();
  </script>
  {% render 'preloader' %}

  {% render 'navbar' %}
  {% render 'mobile-navbar' %}
  {% comment %}  
    {% render 'mobile-navbar--overlay' %}
  {% endcomment %}



  {% section 'cart-drawer' %}
  
  <main role="main">

    <div class="navbar-overlay-new">

      <div class="overlay-header">
        <div class="close-overlay">
            {% render 'icon--close' %}
        </div>
        <div class="overlay-logo">
            <a href="/" title="{{ shop.name }}">{{ settings.navbar_logo | image_url: width: 500 | image_tag }}</a>
        </div>
      </div>

      <div class="overlay-menu">
          <div class="title">Menu</div>
          <div>
              <ul class="links">
                  {% for link in linklists.main-menu.links %}
                      <li>
                        <a href="{{ link.url }}" title="{{ link.title }}">
                          {{ link.title }}
                        </a>
                      </li>
                  {% endfor %}
                  {% for link in linklists.site-menu.links %}
                    <li>
                      <a href="{{ link.url }}" title="{{ link.title }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {% endfor %}
              </ul>
          </div>

      </div>

      <div class="overlay-footer">
        <div>
            <ul class="links">
                {% for link in linklists.footer.links %}
                    <li>
                      <a href="{{ link.url }}" title="{{ link.title }}">
                        {{ link.title }}
                      </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <ul class="social">
                <li>
                    <a href="" title="Instagram">
                        {% render 'icon--instagram' %}
                    </a>
                </li>
                <li>
                    <a href="" title="X">
                        {% render 'icon--twitter' %}
                    </a>
                </li>
                <li>
                    <a href="" title="Twitch">
                        {% render 'icon--twitch' %}
                    </a>
                </li>
                <li>
                    <a href="" title="Facebook">
                        {% render 'icon--facebook' %}
                    </a>
                </li>
                <li>
                    <a href="" title="YouTube">
                        {% render 'icon--youtube' %}
                    </a>
                </li>
            </ul>
        </div>
      </div>

    </div>

    {{ content_for_layout }}
  </main>

  <script type="application/json" data-ajax-cart-initial-state>
    {{ cart | json }}
  </script>

  <script type="module">
    import '{{ "liquid-ajax-cart-v1.11.0.js" | asset_url }}';
  </script>

  <script type="application/json" data-ajax-cart-configuration >
    {
      "addToCartCssClass": "js-my-cart-open"
    }
  </script>

  {{ 'format_money.js' | asset_url | script_tag }}
  <script type="module">
    import { subscribeToCartStateUpdate } from '{{ "liquid-ajax-cart-v1.11.0.js" | asset_url }}'


    let USDollar = new Intl.NumberFormat('en-US', {
      style: 'decimal',
      maximumFractionDigits: 0,
      trailingZeroDisplay: 'stripIfInteger'
    });

    subscribeToCartStateUpdate(( state, isCartUpdated ) => {
      var total = Shopify.formatMoney(state.cart.total_price);
      var subtotal = Shopify.formatMoney(state.cart.items_subtotal_price);
      $('.total-value').text(total.substring(0, subtotal.length - 3));
      $('.subtotal-value').text(subtotal.substring(0, subtotal.length - 3));
    });
  </script>

  {{ 'shop.js'  | asset_url | script_tag }}
  
  {{ 'index.js' | asset_url | script_tag }}

  {% render 'footer' %}

  <script src="{{ 'jquery-gdpr.js' |  asset_url }}"></script>
  <div class="eupopup eupopup-top"></div>
  {% comment %} 
  Progress Bar
  {% endcomment %}
  <script>
    var i = 0;

    function move() {
        if (i == 0) {
            i = 1;
            var elem = document.getElementById("progress");
            var width = 10;
            var id = setInterval(frame, 10);

            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                    i = 0;
                } else {
                    width++;
                    elem.style.width = width + "%";

                    
                }
            } 

        }

    }
    move();
  </script>

  {% comment %} 
  Images Loaded
  {% endcomment %}
  <script>
    imagesLoaded( document.querySelector('body'), function( instance ) {

      jQuery('.preloader').css('display', 'none');
      console.log('all images are loaded');
    });
  </script>

</body>

</html>