{{ 'component--homepage-slider.css' | asset_url | stylesheet_tag }}

<div class="hero">
    <div class="hero-swiper swiper">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                {% case block.type %}

                    {% when 'blog_slide' %}
                      <div class="swiper-slide" style="background: url('{{ block.settings.article.image | image_url }}'); background-size: cover; background-position: center center;">
                          <div class="color-overlay"></div>
                          <div class="content-container">
                            <div class="info-box">
                              <span class="subtitle">
                              {{ 'Featured' | escape }}
                              </span>
                              <h2>{{ block.settings.article.title }}</h2>
                              <div class="actions">

                                  {% if block.settings.article.metafields.article.post_or_link == false %}
                                    <a href="{{ block.settings.article.metafields.article.backlink_url }}" class="read-more">
                                      {{ 'read more' | escape }}
                                    </a>                         
                                  {% else %}
                                    <a href="{{ block.settings.article.url }}" class="read-more">
                                        {{ 'read more' | escape }}
                                    </a>
                                  {% endif %}

                              </div>
                            </div>
                          </div>
                      </div>

                    {% when 'plain_slide' %}
                      <div class="swiper-slide" style="background: url('{{ block.settings.plain_image | image_url }}'); background-size: cover; background-position: center center;">
                          <div class="color-overlay"></div>

                          {% if block.settings.plain_title != blank %}
                              <div class="info-box">
                                  <span class="subtitle">
                                  {{ 'Featured' | escape }}
                                  </span>
                                  {% if block.settings.plain_title %}
                                      <h2>{{ post.title }}</h2>
                                  {% endif %}
                                  {% if block.settings.plain_link %}
                                      <div class="actions">
                                          <a href="{{ block.settings.plain_link }}" class="read-more">
                                              {{ 'read more' | escape }}
                                          </a>
                                      </div>
                                  {% endif %}
                              </div>
                          {% endif %}
                      </div>

                {% endcase %}
            {% endfor %}
        </div>

        <div class="swiper-navigation">
            <div class="swiper-button-prev">
                {% render 'icon--arrow-left' %}
            </div>
            <div class="swiper-button-next">
                {% render 'icon--arrow-right' %}
            </div>
        </div>

    </div>
</div>

  <div class="hero-mobile">
    <div class="hero-swiper-mobile swiper">
      <div class="swiper-wrapper">
        {% for post in blogs.news.articles %}
          <div class="swiper-slide">
            <div class="image" style="background: url('{{ post.image | image_url }}'); background-size: cover; background-position: center center;"></div>
            <div class="info-box-mobile">
              <span class="subtitle">
                {{ 'Featured' | escape }}
              </span>
              <h2>{{ post.title }}</h2>
              <div class="actions">
                <a href="{{ post.url }}" class="read-more">
                  {{ 'read more' | escape }}
                </a>

                {% if block.settings.plain_link %}
                    <a href="" class="backlink">
                    post origin
                    </a>
                {% endif %}
              </div>
            </div>
            
          </div>
        {% endfor %}
      </div>

    </div>
  </div>

{% schema %}
    {
      "name": "Homepage Slider",
      "tag": "section",
      "class": "home-slider-section section",
      "settings": [
        {
          "type": "text",
          "id": "featured_product",
          "label": "Homepage Slider"
        }
      ],
      "blocks": [
        {
          "name": "News",
          "type": "blog_slide",
          "settings": [
            {
              "type": "article",
              "id": "article",
              "label": "Article"
            }
          ]
        },
        {
          "name": "Plain",
          "type": "plain_slide",
          "settings": [
            {
              "type": "text",
              "id": "plain_title",
              "label": "Title"
            },
            {
              "type": "textarea",
              "id": "plain_body",
              "label": "Body"
            },
            {
              "type": "url",
              "id": "plain_link",
              "label": "Link"
            },
            {
              "type": "image_picker",
              "id": "plain_image",
              "label": "Slide Image"
            },
            {
              "type": "color",
              "id": "plain_color",
              "label": "Color"
            }
          ]
        }
      ],
      "presets": [{
        "name": "Homepage Slider"
      }]
    }
  {% endschema %}