{{ 'component--news-slider.css' | asset_url | stylesheet_tag }}

<div class="news-slider swiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% case block.type %}

        {% when 'blog_slide' %}
          <div class="swiper-slide blog_slide" style="background: url('{{ block.settings.article.image | image_url }}'); background-size: cover; background-position: center center;" data-type="{{ block.type }}">
            {{ block.settings.article.title }}
          </div>

        {% when 'plain_slide' %}
          <div class="swiper-slide plain_slide" style="background: url('{{ block.settings.plain_image | image_url }}'); background-size: cover; background-position: center center;" data-type="{{ block.type }}">
            {{ block.settings.plain_title }}
            {{ block.settings.plain_body }}
          </div>

      {% endcase %}
    {% endfor %}
  </div>

  <div class="swiper-pagination"></div>
</div>

{% schema %}
  {
    "name": "News Slider",
    "tag": "section",
    "class": "news-slider-section section",
    "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": "Featured Product"
      }
    ],
    "blocks": [
      {
        "name": "News",
        "type": "blog_slide",
        "settings": [
          {
            "type": "article",
            "id": "article",
            "label": "Article"
          }
        ]
      },
      {
        "name": "Plain",
        "type": "plain_slide",
        "settings": [
          {
            "type": "text",
            "id": "plain_title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "plain_body",
            "label": "Body"
          },
          {
            "type": "url",
            "id": "plain_link",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "plain_image",
            "label": "Slide Image"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Featured Product"
    }]
  }
{% endschema %}

<script>
  const swiper = new Swiper('.news-slider', {
    direction: 'horizontal',
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    }
  });
</script>