{{ 'page--article.css' | asset_url | stylesheet_tag }}

<div class="blog-post">

  <div class="blog-name">
    <h2><a href="{{ blog.url }}">{{ blog.title }}</a></h2>
  </div>

  <div class="blog-title">
    <h1>{{ article.title }}</h1>
  </div>

  <div class="blog-content">
    {{ article.content }}
  </div>
</div>