{{ 'page--blog.css' | asset_url | stylesheet_tag }}
{{ 'article-card.css' | asset_url | stylesheet_tag }}

<div class="blog-page">
  <div class="blog-header">
    {% if current_tags %}
      <h1>{{ blog.title | link_to: blog.url }} - {{ current_tags.first }}</h1>
    {% else %}
      <h1>{{ blog.title }}</h1>
    {% endif %}  
  </div>
  
  {% paginate blog.articles by 5 %}
  
    <ul class="blog-posts">
      {% for article in blog.articles %}
      
        {% render 'article-card', article: article %}
    
      {% endfor %}
    </ul>
  
    
  {% if paginate.pages > 1 %}
    {% comment %}
      When paginating blog articles, a previous article is actually a newer article, not an older one,
      because blog articles are shown and paginated in a reversed chronological order.
      The word 'previous' can be confusing, hence we'll change it.
    {% endcomment %}
    {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
  {% endif %}
  
  {% endpaginate %}
</div>
