{{ 'page--team-member.css' | asset_url | stylesheet_tag }}

<div class="team-member">
    <div class="team-title">
        {{ 'Team Member' | upcase | escape }}
    </div>

    <div class="top">
        <div class="left">

            <div class="team-swiper swiper">
                <div class="swiper-wrapper">
                    {% for image in collection.metafields.collection.team_member_gallery.value %}
                        <div class="swiper-slide" style="background: url('{{ image | image_url: width: 800 }}'); background-size: cover; background-position: center center;">
                        </div>
                    {% endfor %}
                </div>
                
                <div class="swiper-pagination"></div>
            </div>


        </div>
        <div class="right">
            <div class="name">
                <h1>{{ collection.title }}</h1>
            </div>

            {% if collection.metafields.team.hometown != blank %}
                <div class="hometown">
                    <span class="title">
                        <h3>{{ 'Hometown' | escape }}</h3>
                    </span>
                    <span class="town">
                        {{ collection.metafields.team.hometown }}
                    </span>
                </div>
            {% endif %}

            {% if collection.metafields.team.fleet != blank %}
                <div class="fleet">
                    <span class="title">
                        <h3>{{ 'Fleet' | escape }}</h3>
                    </span>
                    <ul>
                        {% for fleet in collection.metafields.team.fleet.value %}
                            <li>{{ fleet }}{% if forloop.last %}{% else %}, {% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="bottom">
        <div class="left">
            <div class="section-title">
                <h3>{{ 'About ' | upcase | escape }}{{ collection.title | upcase | escape }}</h3>
            </div>
            <div class="description">
                {{ collection.description }}
            </div>
        </div>

        <div class="right">
            <ul class="social-links">
                {% if collection.metafields.custom.social_media.value.instagram != blank %}
                    <li class="social-link instagram">
                        <a href="{{ collection.metafields.custom.social_media.value.instagram }}" title="Instagram" target="_blank">
                            <span class="icon">
                                {% render 'icon--instagram' %}
                            </span>
                            <span class="label">
                                {{ 'Instagram' | escape }}
                            </span>
                        </a>
                    </li>
                {% endif %}
                {% if collection.metafields.custom.social_media.value.twitter != blank %}
                    <li class="social-link twitter">
                        <a href="{{ collection.metafields.custom.social_media.value.twitter }}" title="X" target="_blank">
                            <span class="icon">
                                {% render 'icon--x' %}
                            </span>
                            <span class="label">
                                {{ 'X' | escape }}
                            </span>
                        </a>
                    </li>
                {% endif %}
                {% if collection.metafields.custom.social_media.value.threads != blank %}
                    <li class="social-link threads">
                        <a href="{{ collection.metafields.custom.social_media.value.threads }}" title="Threads" target="_blank">
                            <span class="icon">
                                {% render 'icon--threads' %}
                            </span>
                            <span class="label">
                                {{ 'Threads' | escape }}
                            </span>
                        </a>
                    </li>
                {% endif %}
                {% if collection.metafields.custom.social_media.value.twitch != blank %}
                    <li class="social-link twitch">
                        <a href="{{ collection.metafields.custom.social_media.value.twitch }}" title="Twitch" target="_blank">
                            <span class="icon">
                                {% render 'icon--twitch' %}
                            </span>
                            <span class="label">
                                {{ 'Twitch' | escape }}
                            </span>
                        </a>
                    </li>
                {% endif %}
                {% if collection.metafields.custom.social_media.value.facebook != blank %}
                    <li class="social-link facebook">
                        <a href="{{ collection.metafields.custom.social_media.value.facebook }}" title="Facebook" target="_blank">
                            <span class="icon">
                                {% render 'icon--facebook' %}
                            </span>
                            <span class="label">
                                {{ 'Facebook' | escape }}
                            </span>
                        </a>
                    </li>
                {% endif %}
                {% if collection.metafields.custom.social_media.value.youtube != blank %}
                    <li class="social-link youtube">
                        <a href="{{ collection.metafields.custom.social_media.value.youtube }}" title="YouTube" target="_blank">
                            <span class="icon">
                                {% render 'icon--youtube' %}
                            </span>
                            <span class="label">
                                {{ 'YouTube' | escape }}
                            </span>
                        </a>
                    </li>
                {% endif %}
                {% if collection.metafields.custom.social_media.value.tik_tok != blank %}
                    <li class="social-link tiktok">
                        <a href="{{ collection.metafields.custom.social_media.value.tik_tok }}" title="TikTok" target="_blank">
                            <span class="icon">
                                {% render 'icon--tiktok' %}
                            </span>
                            <span class="label">
                                {{ 'TikTok' | escape }}
                            </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>

<script>
  const swiper = new Swiper('.team-swiper', {
    direction: 'horizontal',
    loop: true,
    autoplay: true,
    spaceBetween: 30,
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    }
  });
</script>