{{ 'page--home.css' | asset_url | stylesheet_tag }}

<div class="homepage">

    <div class="hero">
      <div class="hero-swiper swiper">
        <div class="swiper-wrapper">
          {% for post in blogs.news.articles %}
            <div class="swiper-slide" style="background: url('{{ post.image | image_url }}'); background-size: cover; background-position: center center;">
              <div class="color-overlay"></div>
              <div class="info-box">
                <span class="subtitle">
                  {{ 'Featured' | escape }}
                </span>
                <h2>{{ post.title }}</h2>
                <div class="actions">
                  <a href="{{ post.url }}" class="read-more">
                    {{ 'read more' | escape }}
                  </a>

                  <a href="" class="backlink">
                    post origin
                  </a>
                </div>
              </div>
              
            </div>
          {% endfor %}
        </div>

        <div class="swiper-navigation">
          <div class="swiper-button-prev">
            {% render 'icon--arrow-left' %}
          </div>
          <div class="swiper-button-next">
            {% render 'icon--arrow-right' %}
          </div>
        </div>

      </div>
    </div>

    <div class="hero-mobile">
      <div class="hero-swiper-mobile swiper">
        <div class="swiper-wrapper">
          {% for post in blogs.news.articles %}
            <div class="swiper-slide">
              <div class="image" style="background: url('{{ post.image | image_url }}'); background-size: cover; background-position: center center;"></div>
              <div class="info-box-mobile">
                <span class="subtitle">
                  {{ 'Featured' | escape }}
                </span>
                <h2>{{ post.title }}</h2>
                <div class="actions">
                  <a href="{{ post.url }}" class="read-more">
                    {{ 'read more' | escape }}
                  </a>

                  <a href="" class="backlink">
                    post origin
                  </a>
                </div>
              </div>
              
            </div>
          {% endfor %}
        </div>

      </div>
    </div>

    {% section 'company-marquee' %}

    {% section 'latest-products' %}

    {% section 'team-mates' %}

    {% section 'newsletter-module' %}

</div>

<script>
  const swiper = new Swiper('.hero-swiper', {
    direction: 'horizontal',
    loop: true,
    autoplay: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      init: function() {
        gsap.to('.info-box', {
          opacity: 1,
          y: 0,
          duration: 0.4
        }); 
        gsap.to('.color-overlay', {
          opacity: 0,
          duration: 0.2
        });
      },
      transitionStart: function() {
        gsap.to('.info-box', {
          opacity: 0,
          y: -20,
          duration: 0.4
        });
        gsap.to('.color-overlay', {
          opacity: 0.4,
          duration: 0.1,
          ease: "power1.out"
        });
      },
      transitionEnd: function() {
        gsap.to('.info-box', {
          opacity: 1,
          y: 0,
          duration: 0.4
        });
        gsap.to('.color-overlay', {
          opacity: 0,
          duration: 0.2
        });
      }
    }
  });

  const zwiper = new Swiper('.hero-swiper-mobile', {
    direction: 'horizontal',
    loop: true,
    autoplay: true
  });
</script>