{{ 'page--team.css' | asset_url | stylesheet_tag }}

<div class="team-page">

    <div class="team-hero">
        {% section 'team-page-slider' %}
    </div>

    <h1 class="section-title">
    {{ 'Nappy Boy Team' | escape }}
    </h1>

    <div class="team-list">
        <ul>
            {% for collection in collections %}
                {% if collection.metafields.collection.team_mate == true %}
                {% render 'team-mate--card', collection: collection %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>


    <div class="team-updates">

        <h2 class="section-title">
            {{ 'Recent Updates' | escape }}
        </h2>

        <ul class="post-list">
            {% for article in blogs.news.articles %}
                <li>
                    <div class="title">
                        <h3>
                            <a href="{{ article.url }}">
                                {{ article.title }}
                            </a>
                        </h3>
                    </div>
                    <div class="tag">
                        {% for tag in article.tags %}
                            {{ tag }}
                        {% endfor %}
                    </div>

                    <div class="backlink">
                        {% if article.metafields.article.backlink_name %}
                            <a href="{{ article.metafields.article.backlink_url }}">
                                {{ article.metafields.article.backlink_name }}
                            </a>
                        {% else %}
                            {{ 'Nappy Boy Automotive' | escape }}
                        {% endif %}
                    </div>

                    <div class="read-more">
                        <a href="{{ article.url }}" title="{{ article.metafields.article.backlink_name }}">
                            {{ 'Read more' | escape }}
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>


</div>
