{{ 'page--search.css' | asset_url | stylesheet_tag }}

<div class="search-page">

  <div class="search-title">
    <h1>{{ 'Search' }}</h1>
  </div>

  {% if search.performed %}
  
    {% paginate search.results by 10 %}
    
      {% comment %}
      Common pitfall to avoid: search.results should never be accessed before the opening 
      paginate tag. Move the opening and closing paginate tags to the very top and bottom of your
      search.liquid template if you need to.
      If you fail to do the above, the pagination of search results will be broken.
      search.results_count is fine to access in or out of the paginate block.
      {% endcomment %}
  
      {% if search.results_count == 0 %} 
  
        <div class="search-empty">
          <p>
            Your search for "{{ search.terms }}" did not yield any results.
          </p>
        </div> 
                  
      {% else %}
  
        <div class="search-results">

          <div class="results-title">
            Showing results for "{{ search.terms }}"
          </div>
  
          <ul class="results">
            {% for item in search.results %}
              {% if item.object_type == 'product' %}
                {% render 'search-card--product', item: item %}
              {% elsif item.object_type == 'article' %}
                {% render 'search-card--article', item: item %}
              {% elsif item.object_type == 'page' %}
                  {% render 'search-card--page', item: item %}
              {% endif %}   
            {% endfor %}
          </ul>
  
        </div>
  
      {% endif %}    
      
      <div class="search-pagination">
        {% if paginate.pages > 1 %}
          {{ paginate | default_pagination }}
        {% endif %}
      </div>

    {% endpaginate %}    
    
  {% endif %}  

</div>

{% render 'recommended-products' %}